<!DOCTYPE html>
<html lang="en">
    <head>
        <% include  elements_1/header_1  %>
    </head>
    <body id="page-top">
        <% include elements_1/navbar_1  %>
        <div id="wrapper">
        <!-- Sidebar -->
        <% include elements_1/sidebar_1  %>
        <div class="container">
            <img src="./img/h1.jpg" width="1050" height="400" />
            <br />
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./img/dell3.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">Laptop Dell Inspiron 3567 i3 7020U/4GB/1TB/Win10/(P63F002N67T)</h5>
                            <p class="card-text">19.500.000đ</p>
                            <a href="chitiet_sp/dell3567" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./img/dell2.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">Laptop Dell Vostro 3480 70183778 Black</h5>
                            <p class="card-text">13.990.000đ</p>
                            <a href="chitiet_sp/dell3480" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./img/dell1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dell 13.3" XPS 13 9380 Multi-Touch Laptop</h5>
                            <p class="card-text">29.990.000đ</p>
                            <a href="chitiet_sp/dell9380" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./img/msi1.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">MSI GF63 8RD i7 8750H/8GB/1TB+128GB/4GB GTX1050Ti/Win10/(221VN)</h5>
                            <p class="card-text">21.500.000đ</p>
                            <a href="chitiet_sp/msi1" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./img/msi2.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">Laptop MSI Prestige 15 10SC 004VN Geforce GTX 1650 MaxQ Intel Core i7 10710U 16GB 512GB 15.6″ FHD IPS Backlight Keyboard</h5>
                            <p class="card-text">37.990.000đ</p>
                            <a href="chitiet_sp/msi2" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./img/msi3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Laptop MSI PS42 8M-288VN</h5>
                            <p class="card-text">21.990.000đ</p>
                            <a href="chitiet_sp/msi3" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./img/hp1.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">HP - 14" Touch-Screen Laptop(Intel Core i3/4GB Memory/128GB Solid State Drive/Ash Silver Keyboard Frame)</h5>
                            <p class="card-text">19.500.000đ</p>
                            <a href="chitiet_sp/hp1" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./img/hp2.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">HP 15-dw0008ca Touchscreen laptop(14"FHD/i5-8250U/8GB/1TB HDD/UHD 620/Win10/1.6kg)</h5>
                            <p class="card-text">21.790.000đ</p>
                            <a href="chitiet_sp/hp2" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./img/hp3.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">Laptop HP Pav 14-BF116TU 3MS12PA Gold</h5>
                            <p class="card-text">16.990.000đ</p>
                            <a href="chitiet_sp/hp3" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <% include elements_1/note  %>
            <br />
            <br />
            <div class="row">
                <p>     </p>
            </div>
        </div>
        <% include elements_1/footer   %>
        <!-- /#wrapper -->
        <!-- Scroll to Top Button-->
        <% include elements_1/logout_1  %>
        <% include elements_1/script_1  %>
    </body>
</html>