<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Laptop MSI PS42 8M-288VN</title>
        <%  include ../hangsx/elements/header   %>
    </head>
    <body id="page-top">
        <%  include ../hangsx/elements/navbar   %>
        <div id="wrapper">
        <!-- Sidebar -->
        <%  include elements_3/sidebar_3   %>
        <div class="container">
                <h2> Laptop MSI PS42 8M-288VN</h2>
        <br />
            <div class="row">
                <div class="col-md-4">
                    <img src="./../img/msi3.jpg" width="600" height="500" >
                </div>
                <div class="col-md-3" >
                    <p> </p>
                </div>
                <div class="col-md-5">
                    <br />
                    <br />
                    <h6>Thông số kỹ thuật </h6>
                    <p> CPU:    Intel Core i5-8250U 1.6GHz up to 3.4GHz 6MB <br />
                        RAM:    8GB DDR4 2400MHz    <br />                      
                        HDD:    256GB PCIe NVMe™ M.2 SSD<br />   
                        Đồ họa: Intel UHD Graphics 620 <br />                       
                        Màn hình:   14" FHD (1920 x 1080) IPS-Level Narrow Bezel <br />
                        Hệ điều hành:   Windows 10 Home <br />
                        Pin/Kg: 4 Cell 3290mAh <br />
                    </p>
                    <h3> Giá: 21.990.000đ</h3>
                </div>
            </div>

        
            <br />
            <% include ../elements_1/note   %>
            <br />
            <br />
            <div class="row">
                <p>     </p>
            </div>
        </div>
        <!-- /.container-fluid -->
        <!-- Sticky Footer -->
        <% include ../elements_1/footer  %>
        <!-- /#wrapper -->
        <!-- Scroll to Top Button-->
        <% include ../hangsx/elements/logout  %>
        <% include ../hangsx/elements/script  %>
    </body>
</html>