<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Danh sách LapTop DELL</title>
        <% include elements/header  %>
    </head>
    <body id="page-top">
        <% include elements/navbar %>
        <div id="wrapper">
        <% include elements/sidebar  %>
        <div class="container">
            <h2> Hãng DELL </h2>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./../img/dell3.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">Laptop Dell Inspiron 3567 i3 7020U/4GB/1TB/Win10/(P63F002N67T)</h5>
                            <p class="card-text">19.500.000đ</p>
                            <a href="../chitiet_sp/dell3567" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./../img/dell2.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">Laptop Dell Vostro 3480 70183778 Black</h5>
                            <p class="card-text">13.990.000đ</p>
                            <a href="../chitiet_sp/dell3480" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./../img/dell1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dell 13.3" XPS 13 9380 Multi-Touch Laptop</h5>
                            <p class="card-text">29.990.000đ</p>
                            <a href="../chitiet_sp/dell9380" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <% include ../elements_1/note   %>
            <br />
            <br />
            <div class="row">
                <p>     </p>
            </div>
        </div>
        <!-- /.container-fluid -->
        <!-- Sticky Footer -->
        <% include ../elements_1/footer  %>
        <!-- /#wrapper -->
        <!-- Scroll to Top Button-->
        <% include elements/logout  %>
        <% include elements/script  %>
    </body>
</html>