<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Danh sách LapTop HP</title>
        <%  include elements/header  %>
    </head>
    <body id="page-top">
        <%  include elements/navbar  %>
        <div id="wrapper">
        <%  include elements/sidebar  %>
        <div class="container">
            <h1>  Hãng HP </h1>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./../img/hp1.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">HP - 14" Touch-Screen Laptop(Intel Core i3/4GB Memory/128GB Solid State Drive/Ash Silver Keyboard Frame)</h5>
                            <p class="card-text">19.500.000đ</p>
                            <a href="../chitiet_sp/hp1" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./../img/hp2.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">HP 15-dw0008ca Touchscreen laptop(14"FHD/i5-8250U/8GB/1TB HDD/UHD 620/Win10/1.6kg)</h5>
                            <p class="card-text">21.790.000đ</p>
                            <a href="../chitiet_sp/hp2" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./../img/hp3.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">Laptop HP Pav 14-BF116TU 3MS12PA Gold</h5>
                            <p class="card-text">16.990.000đ</p>
                            <a href="../chitiet_sp/hp3" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <% include ../elements_1/note   %>
            <br />
            <br />
            <div class="row">
                <p>     </p>
            </div>
        </div>
        <!-- /.container-fluid -->
        <!-- Sticky Footer -->
        <% include ../elements_1/footer  %>
        <!-- /#wrapper -->
        <!-- Scroll to Top Button-->
        <% include elements/logout  %>
        <% include elements/script  %>
    </body>
</html>