<div class="row">
        <div class="col-md-6">
            <h6> Hỗ trợ khách hàng </h6>
            <p> Thẻ ưu đãi  <br />
                Phiếu mua hàng   <br />                      
                Trung tâm bảo hành  <br />                      
                Thanh toán và giao hàng  <br />                     
                Dịch vụ sữa chữa và bảo trì  
            </p>
        </div>
        <div class="col-md-6">
            <h6> Chính sách mua hàng và bảo hành </h6>
            <p> Quy định chung  <br />
                Chính sách bảo mật thông tin   <br />                      
                Chính sách vận chuyển, giao nhận  <br />                      
                Chính sách bảo hành  <br />                     
                Chính sách trả góp  
            </p>
        </div>
    </div>