<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quên mật khẩu</title>
    <% include  elements_4/header_4 %>

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header dn1"><h3> Quên mật khẩu  </h3></div>
      <div class="card-body">
        <div class="text-center mb-4">
          
          <p>Nhập địa chỉ email của bạn và chúng tôi sẽ gửi cho bạn hướng dẫn về cách đặt lại mật khẩu của bạn.</p>
        </div>
        <form>
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
              <label for="inputEmail">Email</label>
            </div>
          </div>
          <a class="btn btn-primary btn-block" href="dangnhap">Lấy mật khẩu</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="dangnhap">Đăng nhập</a>
          <a class="d-block small " href="dangky">Đăng ký tài khoản</a>
		  <a class="d-block small" href="bosungthongtin">Bổ sung thông tin</a>
		  <a class="d-block small" href="/">Trang chủ</a>
        </div>
      </div>
    </div>
  </div>
<% include  elements_4/script_4 %>
</body>

</html>
